extends layout

//- flex box with the left being an image & the right all input variables
block content
    .flex-box-auth 
            img.left-auth(src='../content/jpg/front-of-cards.jpg') 
            block right-auth

