extends layout

//- flex box with the left being an image & the right all input variables
block content
    .auth-flex-box
            img.auth-left(src='../content/jpg/front-of-cards.jpg') 
            block auth-right

