extends layout

block content
    .game-container
        .game-code 
            //- top left game code
            - let gameCode = '12JNCK42';
                p #[strong Game Code: ] #{gameCode}
        .first-opponent 
            //- First Opponent - Load the amount of cards that they have ()
            img(src='../content/svg/first-opponent-cards.svg')
        .second-opponent
            //- Second Opponent - Load the amount of cards that they have ()
            img(src='../content/svg/second-opponent-cards.svg')
        .third-opponent
            //- Third Opponent - Load the amount of cards that they have ()
            img(src='../content/svg/third-opponent-cards.svg')
        .place-grab-cards
            //- Place Card
            .place-card.mr-3
                img.mb-3(src='../content/svg/back.svg')
                button.btn.btn-secondary(type="submit") Place Card
            //- Grab Card(s)
            .grab-card
                img.mb-3(src='../content/svg/back.svg')
                button.btn.btn-secondary(type="submit") Grab Card
        .player-cards 
            //- amount of cards that the user has for this game
            - let numOfCards = ['blue-00.svg','green-01.svg','red-02.svg','wild-draw4.svg','wild.svg','yellow-draw2.svg', 'red-05.svg', 'green-09.svg', 'blue-reverse.svg', 'yellow-skip.svg'];
                each card in numOfCards
                    img(src='../content/svg/' + card)

        .game-buttons 
            button.btn.btn-secondary(type="submit") Dashboard
        .game-chat 
            p game chat goes here
    

    
    
                


    //- center left second opponent


    //- center grab and place cards


    //- center right third opponent


    //- bottom left home button


    //- bottom center player cards


    //- bottom right chat box

