
#gameWonModal.modal.fade(tabindex="-1", aria-hidden="true", role="dialog" data-bs-backdrop="static" data-bs-keyboard="false")
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-popup-container
                .modal-title Congratulations!
                .modal-subtitle You've won the game!!
                .modal-animations Some Animations


            .modal-footer
                .modal-action-buttons
                    .modal-play-again-btn.close.popover-test(data-bs-dismiss="modal", role="button") Play Again
                    .modal-exit-btn.close.popover-test(data-bs-dismiss="modal", role="button") Exit