extends layout

block content
  .back-btn
    button#backButton.btn.btn-light.grey-btn(onclick="window.location.href = '/dashboard'")
      img(src='../content/svg/back-arrow.svg' alt="back arrow button")
  h1.header New Game
  .new-game-flex-box
    //- Public Game(s) Section
    .public-games
      h4.subheader Public Games
      //- h6.public-game-total 25 Public Games:
      div#all-public-games
        //- Public games go here
      button.btn.btn-dark.uno-btn.lobby-btn#public-game-btn Join Public Game
    //- Private Match Section
    .private-game 
      h4.subheader Private Game
      h6 Share This Code With Friends:
      //- .code is replaced with unique game code when clicked
      .code#generate-code
        p#generate-code-p Generate Private Code
      h6 Players Within Private Game: 
      ol#private-players
        //- players who entered into private game added here
      button.btn.btn-dark.uno-btn.lobby-btn#private-game-btn Start Private Game
    
    //- Lobby Chat Section
    .chat 
      h4.subheader Lobby Chat
      .chatbox 
        section.section.chat-container
          .container
            .columns
              .box.column.is-8.is-offset-2
                .chat-messages.has-text-left
                  ul#chat-messages
                form
                  .field.has-addons
                    p.control
                      input(type='text', class='input', value='User name', id='name')
                      input(type='text', class='input', placeholder='Type here', id='message')
                    p.control
                      input(type='submit', class='button is-success', value='Post')

  //- TODO:: move to its own JS File 
  script(src='/scripts/lobby.js' type='module')
  script.
    /*===Chat sockets===*/
    const socket = io();
    socket.emit('chatter', 'USERNAME has joined the lobby'); 
    
    //Grabs the form
    $('form').submit(function() {
      const name = $('#name').val();
      const message = $('#message').val();
    socket.emit('chatter', `${name} : ${message}`);
      $('#message').val('');
      return false;
    });

    //show the message
    socket.on('chatter', function(message) {
      $('#chat-messages').append($('<li>').text(message));
    });
