extends layout

block content
  .back-btn
    button.btn.btn-light.grey-btn(onclick="window.location.href = '/dashboard'")
      img(src='../content/svg/back-arrow.svg')
  h1.header Resume Game
  .resume-game-flex-box
    h5 Current Games
    .active-game 
      //- all active game information + delete button added here
  script(src='/scripts/resume-game.js' type='module')