extends auth-layout 

//- TODO: Add need inputs within the div for signup
block right-auth    
    .right-auth
        h1 Classic Uno! 
        label.form-label Create An Account
        input.form-control(placeholder="First Name")
        input.form-control(placeholder="Last Name")
        input.form-control(placeholder="Email")
        input.form-control(placeholder="Password")
        input.form-control(placeholder="Confirm Password")

        