/* Custom Fonts Imported */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
/* ====== Global Styling ====== */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* overwties bootstrap styling */
.form-control {
  background: #eee !important;
}

/* ====== Signup & Signin Styling ====== */
.auth-flex-box {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}

/* signup & signin (image) */
.auth-left {
  object-fit: cover;
  height: 100vh;
  max-width: 45%;
  display: block;
  display: none;
}

/* signup & signin (inputs) */
.auth-right {
  min-height: 100vh;
  width: 100vw;
}

.auth-right h1 {
  margin-top: 4rem;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: 300%;
}

.auth-right h4 {
  font-weight: 600;
}

.auth-right button {
  width: 100%;
  height: 50px;
}

.auth-right button:hover {
  background-color: rgb(51, 51, 51);
}

.auth-right a {
  font-weight: 600;
  color: #000;
}

.auth-right a:hover {
  color: rgb(99, 99, 99);
}

/* signup & signin form */
.auth-form {
  margin-top: 4rem;
  max-width: 550px;
  padding: 25px;
}

/* ====== Game Styling ====== */
.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    "game-code first-opponent first-opponent ."
    "second-opponent place-grab-cards place-grab-cards third-opponent"
    "second-opponent place-grab-cards place-grab-cards third-opponent"
    "game-buttons player-cards player-cards game-chat"
    ;
}

.game-code {
  grid-area: game-code;
}

.game-code p {
  position: absolute;
  top: 1em;
  left: 1em;
}

.first-opponent {
  grid-area: first-opponent;
}

.second-opponent {
  grid-area: second-opponent;
}

.third-opponent {
  grid-area: third-opponent;
}

.player-cards {
  grid-area: player-cards;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.player-cards img {
  height: 150px;
  padding: 2px;
}

.game-buttons {
  grid-area: game-buttons;
}

.game-buttons button {
  position: absolute;
  left: 1em;
  bottom: 2em;
  width: 150px;
}

.game-chat {
  grid-area: game-chat;
  text-align: center;
}

.place-grab-cards {
  grid-area: place-grab-cards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-card,
.grab-card {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.place-grab-cards img {
  height: 175px;
}

.first-opponent img {
  width: 350px;
  display: block;
  margin: 0 auto 0 auto;
}

.second-opponent img,
.third-opponent img {
  height: 350px;
}

.third-opponent img {
  position: absolute;
  right: 0px;
}

/* Desktop with width greater than 900px */
@media (min-width: 900px) {
  /* change flex direction from column to row */
  .auth-flex-box {
    flex-direction: row;
  }
  /* display the image */
  .auth-left {
    height: 100vh;
    display: contents;
    display: block;
  }
}




/* ====== Lobbies Styling ====== */
.lobbies-header{
  font-size: 50px;
  text-align: center;
  font-family: "Fredoka One", cursive;
}

.lobbies-title{
  font-size: 32px;
  font-family: "Fredoka One", cursive;
}

.lobbies-container {
  min-height: 85vh;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "open-lobbies-container create-new-container lobby-chat-container";
}

.open-lobbies-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 2.2fr 0.4fr;
  gap: 25px 0px;
  grid-area: open-lobbies-container;
  justify-items: center;
  width: 100%;
}

.open-lobbies-title {grid-area: open-lobbies-title; }

.open-lobbies-data { grid-area: open-lobbies-data; }

.open-lobbies-join { grid-area: open-lobbies-join; }

.open-loobies-join-btn {
  background-color: #eee;
  border-radius: 10px;
  border: none;
  padding: 10px 75px;
  font-weight: 900;
}

.open-lobbies-data-div{
  background-color: #eee;
  border-radius: 10px;
  padding: 10px 100px;
  height: 100%;
}

.open-lobbies-lobby-info{
  font-weight: 900;
}

.create-new-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.4fr 2.52fr 0.58fr;
  gap: 25px 0px;
  grid-template-areas:
    "create-new-title"
    "create-new-code"
    "create-new-players"
    "create-new-start-btn";
  grid-area: create-new-container;
  justify-items: center;
}

.create-new-title { grid-area: create-new-title; }

.create-new-code { grid-area: create-new-code; }

.create-new-players { grid-area: create-new-players; }

.create-new-start { grid-area: create-new-start-btn; }

.create-new-players {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "create-new-players-title"
    "create-new-players-name";
  grid-area: create-new-players;
  justify-items: center;
  width: 100%;
}

.create-new-players-title {
  grid-area: create-new-players-title;
  font-weight: 800;
  text-decoration: underline;
  font-size: 20px;
}
.create-new-players-name {
  grid-area: create-new-players-name;
  width: 100%;
  justify-items: start;
  float: left;
  font-weight: 600;
}


.create-new-code-div {
  background-color: #eee;
  border-radius: 10px;
  border: none;
  padding: 10px 100px;
  font-weight: 900;
}




.lobby-chat-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 25px 0px;
  grid-template-areas:
    "lobby-chat-title"
    "lobby-chat-socket";
  grid-area: lobby-chat-container;
  justify-items: center;
  width: 100%;

}

.lobby-chat-title { grid-area: lobby-chat-title; }

.lobby-chat-socket {
  grid-area: lobby-chat-socket;
  height: 100%;
  width: 65%;
  justify-items: center;
  background-color: #eee;
  border-radius: 10px;
  margin: 0px 30px;
}



.modal-popup-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr;
  gap: 0px 0px;
  grid-template-areas:
    "modal-title"
    "modal-subtitle"
    "modal-animations";
  justify-items: center;
}


.modal-dialog{
  min-width: 55% !important;
}

.modal-footer{
  border-top: 0 none !important;
  min-width: 100% !important;
}

.modal-content{
  border-bottom: 0 none !important;
}

.modal-action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "modal-play-again-btn modal-exit-btn";
  grid-area: modal-action-buttons;
  justify-items: center;
  margin: 20px 20px;
  min-width: 100%;
}

.modal-play-again-btn {
    grid-area: modal-play-again-btn;
    background-color: #eee;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: 18px;
    min-width: 70%;
    text-align: center;
    padding: 10px 30px;
}

.modal-exit-btn {
  grid-area: modal-exit-btn;
  background-color: #eee;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  font-size: 18px;
  min-width: 70%;
  text-align: center;
  padding: 10px 30px;
}

.modal-title {
  grid-area: modal-title;
  font-weight: 600;
  font-size: 24px;
  justify-self: center;
  margin-top: 40px;
}

.modal-subtitle {
  grid-area: modal-subtitle;
  font-weight: 600;
  font-size: 24px;
  justify-self: center;
}

.modal-animations {
  grid-area: modal-animations;
  background-color: #eee;
  border-radius: 10px;
  width: 60%;
  height: 100%;
 }
